@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}


:root {
  --primary-color-lg: #c6e4d6;
  --secondary-color-blue:  #3498db; 
  
  --card-color-lblue: rgba(84, 144, 245, 0.2); 
  --card-color-mgreen: rgb(198, 228, 214); 
  --card-color-lyellow: rgb(247, 235, 207); 

  --btn-color-green: rgb(0, 106, 80);         
  --btn-color-lblue: rgb(84, 144, 245);         
  --btn-color-orange: rgb(255, 194, 57);   
  
  --text-color-gray: #474747;

  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(71, 71, 71, .5);
}

body {
  margin: 0px 160px;
}

  /* <--- Button Style ---> */

.btn-primary {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 26px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--btn-color-green);
  color: white;
  transition: transform 0.5s ease-in-out;

    &:hover{
      transform: scale(1.08);
    }
  }


  /* <--- Start Header & Navbar Style ---> */
header{
  min-height: 100vh;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    background-color: var(--text-color-white);
  
  
    .logo {
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
  
  
    ul {
      list-style: none;
        
      a {
        font-size: 16px;
        font-weight: bold;
        }

        .btn-primary {
          background-color: var(--color-white) ;
          border: 2px solid var(--btn-color-green) ;
          color: var(--btn-color-green);
        }
    }
  }
  
  .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px; 
    background-color: var(--primary-color-lg);
    border-radius: 20px;
    margin-top: 50px;
    gap: 35px;
    height: 500px;


    .banner-content {
      width: 100%;

      .banner-subtitle {
        font-size: 20px;
        padding-bottom: 10px;
        color: var(--text-color-gray);
      }

      .banner-title {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }

    .banner-pic {
      width: 80%;
      
       .banner-image {
        width: 100%;
       }
     }
  }
}
  
  /* <--- End Header & Navbar Style ---> */



  /* <--- Start Pillars Style ---> */

  .pillars-section {
  
    .pillar-heading {
      text-align: left;
      padding-top: 40px;

      .pillar-title {
        display: inline-block;
        font-size: 35px;
        padding-bottom: 10px;
      }
      .pillar-subtitle {
        font-size: 16px;
        color: var(--text-color-gray);
      }
      
    }
  
    .card-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      text-align: left;
      gap: 15px;
  
        .card {
          display: flex;
          flex-direction: column;
          text-align: left;
          width: 265px;
          height: 260px;
          padding: 20px;
          border-radius: 10px;
          background-color: rgba(22, 196, 127, .1);
          border: 3px solid transparent;
          transition: border 1s ease-in-out, transform 1s ease;
          
          &:hover{
           transform: scale(1.05);
           border: 2px solid var(--btn-color-green);
           background-color: white;
          }
  
  
          .card-img{
            width: 30%;
          }
          .card-heading{
            font-size: 16px;
            padding: 12px 0px;
          }
          .card-content{
            font-size: 14px;
            line-height: 1.8;
            opacity: .8;
            border: none;
          }

        }
      }
  
    }

  /* <--- End Pillars Style ---> */



    /* <--- Start Future Style ---> */

    .future-section {
    
      .future-heading {
        text-align: left;
        padding-top: 40px;
  
        .future-title {
          display: inline-block;
          font-size: 35px;
          padding-bottom: 10px;
        }

        .future-des {
          font-size: 16px;
          line-height: 1.9;
          color: var(--text-color-gray);
        }
        
      }
    
      .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        text-align: left;
        gap: 15px;
    
          .card {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 350px;
            height: 300px;
            padding: 30px;
            border-radius: 10px;
            background-color: rgba(22, 196, 127, .1);
            border: 3px solid transparent;
            transition: border 1s ease-in-out, transform 1s ease;
            
            &:hover{
             transform: scale(1.05);
             border: 2px solid var(--btn-color-green);
             background-color: white;
            }
    
    
            .card-img{
              width: 30%;
              height: 30%;
              padding-bottom: 10px;
            }
            .card-heading{
              font-size: 16px;
              padding: 12px 0px;
            }
            .card-content{
              font-size: 14px;
              line-height: 1.8;
              opacity: .8;
              padding-bottom: 20px;
            }

          }

          .card-1 {
            background: var(--card-color-lblue) ;
          

            .btn-primary {
              background-color: var(--secondary-color-blue);
            }
          }
          .card-2 {
            background: var(--card-color-mgreen);
           

            .btn-primary {
              background: rgb(9, 161, 92);
            }
          }
          .card-3 {
            background:var(--card-color-lyellow);

            .btn-primary {
              background: rgb(255, 194, 57);
            }
          }
        }
    
      }
  
    /* <--- End Future Style ---> */

    /* <--- Start Advisor Style ---> */
    
    .chief-advisor{
      margin-top: 40px;
      padding: 20px 30px;
      border-radius: 20px;
      border: 1px solid var(--color-gray);
      
      .chief-heading {
        background: url(../assets/quote-bg.png) no-repeat top left;

        .chief-speech {
          line-height: 1.8;
          padding: 24px 0px;
        }

        .chief-name{
          padding-bottom: 6px;
        }

      }
    }
    
    
    /* <--- End Advisor Style ---> */
